.headerContainer {
    max-width: 720px;
    height: 4rem;
    // display: flex;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.headerContent {
    max-width: 720px;
    height: 4rem;    

    align-items: center;
    
    margin: 2rem auto auto 2rem;

    color: var(--heading);

    img + img {
        margin-left: 0.75rem;
    }
}